@import './designSystem'

*, ::before, ::after
  box-sizing: border-box

html
  font-size: 16px

body
  margin: 0
  font-size: 16px
  word-break: keep-all
  -webkit-text-size-adjust: none
  transition: all .4s cubic-bezier(.4,0,.2,1),

body, pre, input, button, textarea, select
  font-size: 1rem
  font-weight: 400

body, body[data-theme="dark"]
  --txt-subject: #{$hex-light-subject}
  --txt-summary: #{$hex-light-summary}
  --txt-blockquote: #{$hex-white}
  --bg-primary: #{$hex-dark-summary}
  --bg-secondary: #{$hex-dark-background}
  --border: #{$hex-dark-border}
  --bg-primary-opacity: rgba(0, 0, 0, .8)

body[data-theme="light"]
  --txt-subject: #{$hex-dark-subject}
  --txt-summary: #{$hex-dark-summary}
  --txt-blockquote: #{$hex-black}
  --bg-primary: #{$hex-light-summary}
  --bg-secondary: #{$hex-light-background}
  --border: #{$hex-light-border}
  --bg-primary-opacity: rgba(255, 255, 255, .8)

body
  background-color: var(--bg-primary)

main
  margin-top: calc(env(safe-area-inset-top) + rem(69))

  +mq(minLarge)
    margin-top: calc(env(safe-area-inset-top) + rem(92))

h1, h2, h3, h4, h5, h6
  margin-top: 0
  margin-bottom: 0

img
  +image-rendering

a
  text-decoration: none
  -webkit-tap-highlight-color: rgba(255,255,255,.10)

fieldset
  margin: 0
  padding: 0

legend
  position: absolute
  overflow: hidden
  margin: 0
  width: 1px
  height: 1px
  clip: rect(1px, 1px, 1px, 1px)

label
  cursor: pointer

img, fieldset
  border: 0

p, ul, dl, pre
  margin-top: 0
  margin-bottom: 0

ul, ol
  margin-top: 0
  margin-bottom: 0
  padding-left: 0
  list-style-type: none

dd
  margin-left: 0

button
  cursor: pointer
  border: 0
  padding: 0

figure
  margin: 0

address, cite
  font-style: normal

.ReactModal__Overlay
  padding: rem(25)

  +mq(minLarge)
    padding: rem(50)

.ReactModal__Content
  border-radius: rem(15)
  max-height: calc(100dvh - rem(25))

  +mq(minLarge)
    border-radius: rem(25)
    max-height: calc(100dvh - rem(50))

.scrollbar-container
  position: relative
  height: 100%

.ps
  overflow: hidden
  overflow-anchor: none
  touch-action: auto

  &__rail-x
    display: none
    opacity: 0
    transition: background-color .2s linear, opacity .2s linear
    height: 15px
    bottom: 0px
    position: absolute

  &__rail-y
    display: none
    opacity: 0
    transition: background-color .2s linear, opacity .2s linear
    width: 15px
    right: 0
    position: absolute

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y
  display: block
  background-color: transparent

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y
  opacity: 0.6

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking
  background-color: #eee
  opacity: 0.9

.ps__thumb-x
  background-color: #aaa
  border-radius: 6px
  transition: background-color .2s linear, height .2s ease-in-out
  height: 6px
  bottom: 2px
  position: absolute

.ps__thumb-y
  background-color: #aaa
  border-radius: 6px
  transition: background-color .2s linear, width .2s ease-in-out
  width: 6px
  right: 2px
  position: absolute

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x
  background-color: #999
  height: 11px

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y
  background-color: #999
  width: 11px
